/* .company-img {
  border-radius: 24px;
  display: flex;
} */
body {
  background-color: #3d3d3d;
}

.text-warning {
  color: #ffc107 !important;
}

.bg-dark {
  background-color: #333 !important;
}

.text-white {
  color: #fff !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.company-container {
  background-color: #474242;
}
.mission-container {
  background-color: #474242;
  color: white;
  padding: 20px;
}

.mission-image {
  padding: 10px;
  margin-bottom: 20px; /* Margen inferior para separar en pantallas pequeñas */
}

.mission-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.mission-text {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 24px;
  background: linear-gradient(
    329deg,
    rgba(255, 255, 255, 0.6) 1.88%,
    rgba(255, 255, 255, 0) 49.47%,
    rgba(217, 217, 217, 0) 57.4%,
    rgba(217, 217, 217, 0) 62.83%,
    rgba(217, 217, 217, 0) 71.23%,
    rgba(217, 217, 217, 0) 81.34%,
    rgba(217, 217, 217, 0) 100%
  );
  border: 2px solid rgba(255, 255, 255, 0.04);
}

.mission-text h2 {
  color: #f0d459;
}

.mission-text ul {
  list-style-type: none;
  padding: 0;
}

.mission-text ul li {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .mission-content {
    margin-left: 20px; /* Margen izquierdo para separar en pantallas grandes */
    margin-right: 20px; /* Margen derecho para separar en pantallas grandes */
  }
}

.mission-under {
  width: 100%;
  height: 100%;
  opacity: 0.12;
  font-size: 90px;
  font-family: Gotham, sans-serif;
  font-weight: 400;
  line-height: 200px;
  word-wrap: break-word;
}
