<div class="row company-container">
  <div class="justify-content-center text-center">
    <div class="col-12">
      <h1 class="text-white">Company</h1>
      <p class="text-white">
        We are a diverse team of passionate professionals united by a common
        goal:
      </p>
      <h2 class="text-warning">
        Revolutionize the way people interact with zoning.
      </h2>
      <p class="text-white">
        With expertise in technology, architecture, and data analysis, we have
        come together to create a powerful digital zoning platform that
        simplifies and automates industry workflows.
      </p>
    </div>
  </div>
</div>

<div class="row mission-container">
  <div class="row mission-content justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-4 mx-5 mission-image">
      <img
        src="/images/ZonelessCities.JPG"
        alt="City Image"
        class="img-fluid"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-5 mission-text">
      <h2>Mission</h2>
      <h3>Zoneless Cities: Empowering Public Understanding of Zoning</h3>
      <ul>
        <li>
          The concept of "zoneless cities" emphasizes the importance of public
          understanding of zoning.
        </li>
        <li>
          While zoning plays a pivotal role in shaping urban development, its
          impact diminishes when the general public lacks comprehension.
        </li>
        <li>
          zlvas aims to bridge this gap by simplifying zoning complexities and
          making it accessible to everyone.
        </li>
        <li>
          Our goal is to empower individuals with zoning knowledge, revitalizing
          its purpose.
        </li>
        <li>
          Seeking to encourage informed decision-making, community engagement,
          and collaborative efforts.
        </li>
      </ul>
      <div class="mission-under">Mission</div>
    </div>
  </div>
</div>
<div class="row mission-container">
  <div class="row mission-content justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-5 mx-3 mission-text">
      <h2>Mission</h2>
      <h3>Zoneless Cities: Empowering Public Understanding of Zoning</h3>
      <ul>
        <li>
          The concept of "zoneless cities" emphasizes the importance of public
          understanding of zoning.
        </li>
        <li>
          While zoning plays a pivotal role in shaping urban development, its
          impact diminishes when the general public lacks comprehension.
        </li>
        <li>
          zlvas aims to bridge this gap by simplifying zoning complexities and
          making it accessible to everyone.
        </li>
        <li>
          Our goal is to empower individuals with zoning knowledge, revitalizing
          its purpose.
        </li>
        <li>
          Seeking to encourage informed decision-making, community engagement,
          and collaborative efforts.
        </li>
      </ul>
      <div class="mission-under">Philosophy</div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mx-5 mission-image">
      <img src="/images/zlvas.png" alt="City Image" class="img-fluid" />
    </div>
  </div>
</div>
