<div id="company" class="row company-container">
  <div class="justify-content-center text-center">
    <div class="col-12">
      <h1 class="my-5 company-style">Company</h1>
      <p class="company-text">
        We are a diverse team of passionate professionals united by a common
        goal:
      </p>
      <h2 class="revolutionize">
        Revolutionize the way people interact with zoning.
      </h2>
      <p class="company-text">
        With expertise in technology, architecture, and data analysis, we have
        come together to create a <br />powerful digital zoning platform that
        simplifies and automates industry workflows.
      </p>
    </div>
  </div>
</div>

<div class="row mission-container">
  <div class="row mission-content justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-4 mx-5 mission-image">
      <img
        src="/images/ZonelessCities.JPG"
        alt="City Image"
        class="img-fluid"
      />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-5 mission-text p-4">
      <h2>Mission</h2>
      <h3 class="zoneless">Zoneless Cities:</h3>
      <span class="empowering">Empowering Public Understanding of Zoning</span>
      <ul>
        <li>
          The concept of "zoneless cities" emphasizes the importance of public
          understanding of zoning.
        </li>
        <li>
          While zoning plays a pivotal role in shaping urban development, its
          impact diminishes when the general public lacks comprehension.
        </li>
        <li>
          zlvas aims to bridge this gap by simplifying zoning complexities and
          making it accessible to everyone.
        </li>
        <li>
          Our goal is to empower individuals with zoning knowledge, revitalizing
          its purpose.
        </li>
        <li>
          Seeking to encourage informed decision-making, community engagement,
          and collaborative efforts.
        </li>
      </ul>
      <div class="mission-under">Mission</div>
    </div>
  </div>
</div>
<div class="row mission-container">
  <div class="row mission-content justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-5 mx-3 mission-text p-4">
      <h2>Philosophy</h2>
      <h3 class="zoneless">Design follows zoning</h3>
      <p>
        As we gaze at a city skyline and appreciate the architecture before us,
        it's easy to focus solely on the visible structures. Yet, upon these
        buildings lie invisible lines dictating their form and arrangement.
      </p>
      <p>
        While crossing a street, we might unknowingly traverse these hidden
        boundaries that organize the surrounding neighborhoods. It's akin to
        living in a real-life simulation, where the cityscape is not just a
        manifestation of architecture/urbanism but a product of intricate zoning
        dynamics.
      </p>
      <p>
        At zlvas, we seek to make zoning engaging for everyone. We envision a
        future where understanding and interacting with zoning regulations feels
        as immersive and intuitive as navigating through a virtual reality
        experience.
      </p>

      <div class="mission-under">Philosophy</div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mx-5 mission-image">
      <img src="/images/zlvas.png" alt="City Image" class="img-fluid" />
    </div>
  </div>
</div>
