<!-- <div class="row">
  <div class="col text-center">
    <h1>Company</h1>
    <p>
      We are a diverse team of passionate professionals united by a common goal:
    </p>
    <h2>Revolutionize the way people interact with zoning.</h2>
    <p>
      With expertise in technology, architecture, and data analysis, we have
      come together to create a powerful digital zoning platform that simplifies
      and automates industry workflows.
    </p>
  </div>
  <div class="row">
    <div class="col col-4 ms-5">
      <img
        class="img-fluid company-img"
        src="/images/ZonelessCities.JPG"
        alt="zonelesscities"
      />
    </div>
    <div class="col col-4">
      <h2>Mission</h2>
      <h5>Zoneless Cities:</h5>
      <h5>Empowering Public Understanding of Zoning</h5>
      <ul>
        <li>
          The concept of "zoneless cities" emphasizes the importance of public
          understanding of zoning
        </li>
        <li>
          While zoning plays a pivotal role in shaping urban development, its
          impact diminishes when the general public lacks comprehension.
        </li>
        <li>
          zlvas aims to bridge this gap by simplifying zoning complexities and
          making it accessible to everyone.
        </li>
        <li>
          Our goal is to empower individuals with zoning knowledge, revitalizing
          its purpose.
        </li>
        <li>
          Seeking to encourage informed decision-making, community engagement,
          and collaborative efforts.
        </li>
      </ul>
    </div>
  </div>
</div> -->
<div class="company-container">
  <div class="row justify-content-center text-center">
    <div class="col-12">
      <h1 class="text-white">Company</h1>
      <p class="text-white">
        We are a diverse team of passionate professionals united by a common
        goal:
      </p>
      <h2 class="text-warning">
        Revolutionize the way people interact with zoning.
      </h2>
      <p class="text-white">
        With expertise in technology, architecture, and data analysis, we have
        come together to create a powerful digital zoning platform that
        simplifies and automates industry workflows.
      </p>
    </div>
  </div>
  <div class="row justify-content-center align-items-center mt-5">
    <div class="col-4">
      <img
        class="img-fluid rounded"
        src="/images/ZonelessCities.JPG"
        alt="zonelesscities"
      />
    </div>
    <div class="col-md-5 bg-dark text-white p-4 rounded">
      <h2 class="text-warning">Mission</h2>
      <h5 class="text-warning">Zoneless Cities:</h5>
      <h5>Empowering Public Understanding of Zoning</h5>
      <ul>
        <li>
          The concept of "zoneless cities" emphasizes the importance of public
          understanding of zoning.
        </li>
        <li>
          While zoning plays a pivotal role in shaping urban development, its
          impact diminishes when the general public lacks comprehension.
        </li>
        <li>
          zlvas aims to bridge this gap by simplifying zoning complexities and
          making it accessible to everyone.
        </li>
        <li>
          Our goal is to empower individuals with zoning knowledge, revitalizing
          its purpose.
        </li>
        <li>
          Seeking to encourage informed decision-making, community engagement,
          and collaborative efforts.
        </li>
      </ul>
    </div>
  </div>
</div>
