<div class="row">
  <div class="social-icons">
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
  </div>
</div>
<div class="row">
  <div class="footer-text">
    <div class="footer-links">
      <span class="footer-copy"
        >&copy; 2024 zlvas LLC. All rights reserved.</span
      >
      <a href="#">Terms of service</a>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</div>
