.social-icons {
  background-color: #474242; /* Fondo gris oscuro */
  padding: 20px;
  text-align: center;
}

.social-icons a {
  margin: 0 10px;
  color: #fff;
  font-size: 24px;
  text-decoration: none; /* Quitar subrayado */

  padding: 10px;
  align-items: flex-start;
}

.social-icons a:hover {
  color: #ffd700; /* Color dorado */
}

.footer-text {
  background-color: #2c2828; /* Fondo gris oscuro */
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ffd700; /* Color dorado */
  margin: 0 10px;
  text-decoration: none; /* Quitar subrayado */
}

.footer-links a:hover {
  text-decoration: underline; /* Agregar subrayado al pasar el mouse */
}

.footer-copy {
  font-size: 0.9rem;
}
