<div>
  <div class="row">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/your-video-id"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center text-white">
      <h2 class="fw-bold">Visualize Regulations</h2>
      <p>
        Decode site limitations and zoning envelopes for informed
        decision-making and strategic planning.
      </p>
      <p>
        Simplify complex zoning regulations, identify land use, and optimize
        your site for success.
      </p>
    </div>
  </div>
  <div id="data-l" class="row">
    <div class="col-md-6 order-md-2">
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/your-video-id"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div
      class="col-md-6 order-md-1 d-flex flex-column justify-content-center text-white"
    >
      <h2 class="fw-bold">Explore Scenarios</h2>
      <p>Uncover zoning options and evaluate a range of scenarios with ease.</p>
      <p>
        Understand the full spectrum of possibilities to maximize your project's
        potential.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/your-video-id"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center text-white">
      <h2 class="fw-bold">Export 3D Models</h2>
      <p>
        Simplify your operations by seamlessly exporting reports and models.
      </p>
      <p>
        Facilitate workflows and boost productivity with effortless data
        transfer.
      </p>
    </div>
  </div>
</div>
