.container {
  max-width: 1200px;
}

.embed-responsive-16by9 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.embed-responsive-16by9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0px 0px 20px 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffffff; /* Color del texto */
}

p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #ffffff; /* Color del texto */
}

.row {
  background-color: #474242; /* Color de fondo */
  padding: 20px; /* Padding */
}
#data-l {
  background-color: #333333 !important;
}
@media (min-width: 768px) {
  .embed-responsive-16by9 {
    margin-bottom: 0;
  }
}
.mission-container {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-content {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.mission-image {
  flex: 1 1 50%;
  padding: 10px;
}

.mission-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.mission-text {
  flex: 1 1 50%;
  padding: 10px;
}

.mission-text h2 {
  color: #f0d459;
}

@media (max-width: 768px) {
  .mission-content {
    flex-direction: column;
  }
}
