<div id="visualize">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 mx-3">
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/your-video-id"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div
      class="col-md-6 col-lg-5 d-flex flex-column justify-content-center text-white"
    >
      <h2 class="fw-bold v-regulations">Visualize <br />Regulations</h2>
      <p class="v-text">
        Decode site limitations and zoning envelopes for <br />
        informed decision-making and strategic planning.
      </p>
      <p class="v-text">
        Simplify complex zoning regulations, identify land use,<br />
        and optimize your site for success.
      </p>
    </div>
  </div>
  <div id="data-l" class="row justify-content-center">
    <div class="col-md-6 col-lg-5 order-md-2">
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/your-video-id"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div
      class="col-md-6 order-md-1 d-flex flex-column justify-content-center text-white"
    >
      <h2 class="explore">Explore Scenarios</h2>
      <p class="explore-text">
        Uncover zoning options and evaluate a range of <br />
        scenarios with ease.
      </p>
      <p class="explore-text">
        Understand the full spectrum of possibilities to <br />
        maximize your project's potential.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 mx-3">
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/your-video-id"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <div class="col-md-6 d-flex flex-column justify-content-center text-white">
      <h2 class="fw-bold v-regulations">Export 3D Models</h2>
      <p class="v-text">
        Simplify your operations by seamlessly exporting <br />
        reports and models.
      </p>
      <p class="v-text">
        Facilitate workflows and boost productivity with <br />effortless data
        transfer.
      </p>
    </div>
  </div>
</div>
