.hero-img {
  background: url("/images/screenshot-20230822-181651-1@2x.png") no-repeat
    center center;
  height: 856px;
  flex-shrink: 0;
}

.digital {
  color: #fff;
  font-family: Gotham;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 94.5%; /* 45.36px */
}

.p-text {
  color: #fff;
  font-family: Gotham;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 106.5%; /* 22.365px */
}
