.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/images/1grid.svg") no-repeat center;

  background-color: #474242; /* Fondo gris oscuro */
  padding: 20px;
}

/* .contact-title {
  color: #fff;
  font-family: Gotham, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.2px; /* 143% */
/* letter-spacing: 0.48px;
  margin-bottom: 20px;
  text-align: center;
} */

.contact-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px; /* Ajuste del ancho máximo */

  border-radius: 20px;
  border: 1px solid #ddd;
  background: #fff;

  /* SHADOW */
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.contact-card .form-control {
  margin-top: 45px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.contact-card .btn {
  display: flex;
  width: 145px;
  padding: 18px 38px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 35px;
  background: #000;
}

@media (max-width: 768px) {
  .contact-card {
    width: 90%; /* Ajusta el ancho en pantallas pequeñas */
  }
}

@media (min-width: 769px) {
  .contact-card {
    width: 60%; /* Ajusta el ancho en pantallas medianas */
  }
}

@media (min-width: 992px) {
  .contact-card {
    width: 40%; /* Ajusta el ancho en pantallas grandes */
  }
}

#contact {
  color: #fff;
  font-family: Gotham;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.2px; /* 143% */
  letter-spacing: 0.48px;
}

.book-demo {
  color: var(--text, #252b42);
  font-family: Gotham;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: 0.1px;
}

.name-email {
  display: flex;
  padding: 19px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 47px;
  align-self: stretch;
  border-radius: 39px;
  border: 1px solid #e8e8e8;
  background: #f5f5f5;
}

.message {
  display: flex;
  padding: 23px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 47px;
  align-self: stretch;
  border: 1px solid #e8e8e8;
  background: #f5f5f5;
}

.grid {
  background: url("/images/1grid.svg") no-repeat;
  background-position: center;
  stroke-width: 1.857px;
  stroke: #fff;

  opacity: 0.2;
  /*background-size: 50%; /* Ajusta el tamaño del SVG */
}
